<!-- views/partials/header.ejs -->
<link href="/css/style.css" rel="stylesheet" type="text/css">

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="https://www.carecloud.com/wp-content/themes/_carecloud/legacy/assets/images/carecloud-logo-blue.png">
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Chapters</a></li>
            <li><a href="/about">Help</a></li>
        </ul>
    </div>

</div>
</nav>