body{
	background: linear-gradient(140.81deg, #3587CA 0%, #002451 100%);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
}

h1 {
    font-size: 100px;
}

.navbar {
	height: 70px;
	padding-left: 50px;
	padding-right: 50px;
}

.navbar-header img {
	width: 100px;
}
