<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<h1 class="text-center">Chapters</h1>
<br>

   <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-10  col-md-offset-1 mainresult">
            <div class="col-md-4 col-sm-4">
                <p class="maintext">Chapter</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p class="childtext">Code Range</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <p class="childtext">Description</p>
            </div>
        </div>
        <% chapters.forEach(function(chapter){ %>
        <div class="col-md-10  col-md-offset-1 mainresult">
                    <div class="col-md-4 col-sm-4">
                        <p class="maintext"><%= chapter.sectionIndex.sectionRef.first %></p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p class="childtext"><%= chapter.name %></h4>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p class="childtext"><%= chapter.name %></p>
                    </div>
        </div>
    <% }); %>
    </div>

</body>
</html>