<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div id="main" class="container">
		<h1 class="text-center">ICD-10 Medical Coding Reference</h1>
		<br>
			<div class="row">
  				<div class="col-lg-8 col-lg-offset-2">
    				<div class="input-group search">
      					<input type="text" class="form-control" placeholder="Search for...">
      					<span class="input-group-btn">
        					<button class="btn btn-default" type="button">Search</button>
      					</span>
    				</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
			</div>
			<br>
		<p class="subtext">This website is a free refernece tool designed for the fast lookup of all current American ICD-10-CM (diagnosis) and ICD-10-pcs (procedure) medical billing codes.</p>
</div>

</body>
</html>